<h1>Random Beer!</h1>
<div class="randomBeer">
    <%- include('./partials/sameInfoBeer.ejs')%>
        <h2>Food Pairing:</h2>
        <%randomBeer[0].food_pairing.forEach(pairing=> { %>
            <ul>
                <li>
                    <%=pairing%>
                </li>
            </ul>
            <% }) %>
                </h4>
                <h4>
                    <h2>Brewers Tips</h2>
                    <%- randomBeer[0].brewers_tips%>
                </h4>
</div>
</div>